@import url("main.css");

body
{
    background-color: rgb(20, 192, 135);
    display: grid;
    height: 100%;
}
nav 
{
    display: block;
    float: left;
    padding: 8px;
    font-style: oblique;
    font-weight: bold;
}
h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

u
{
    color: green;
}

h2
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
}
.headline
{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blogTitle 
{
    text-align: center;
    font-variant: small-caps;
}
.previewHeading
{
    text-align: center;
}

.imagePreview
{
    width: 60%;
    display: grid;
    margin-left: 30%;
    margin-right: 30%;
    
}
.blogImage
{
    filter:drop-shadow(20px 0px 10px rgb(105, 91, 10));
    width: 70%;
    height: 70%;
    margin-left: 20%;
}
.dropdown-content a:hover {background-color: black}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#userNick 
{
    font-weight: bold;
    border: 1px solid black;
    color: yellow;
}

li
{
  list-style-type: square;
}
li::marker
{
    color: #0346ac;
}

figure
{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

figcaption
{
    margin-left: 15%;
}

blockquote
{
    text-align: center;
    color: turquoise;
    font-size: 35px;
}


