.logo
{
    margin-top: -3%;
    margin-right: 1%;
    max-width: 48px;
    max-height: 48px;
}

.like_btn
{
    
    padding: 10px 15px;
    background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 85%;
}

.partinglineAdana
{
    position: relative;
    margin-top: 55%;
    border: 2px solid turquoise;
}

.partinglineKünefe
{
    position: relative;
    margin-top: 45%;
    border: 2px solid turquoise;
}

.partinglineIcliköfte
{
    position: relative;
    margin-top: 67%;
    border: 2px solid turquoise;
}

.partinglineTestikebabi
{
    position: relative;
    margin-top: 45%;
    border: 2px solid turquoise;
}